@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body {
  font-family: 'Comfortaa', cursive;
}

main {
  min-height: 80vh;
}

.inner {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
  width: 30%;
  height: 55vh;
}